//- Аватар пользователя в макете /img/avatar-2.png
mixin header-nav(userState=`logged-out`, userName=`Unnamed User`, userAvatar=`/img/avatar-2.png`)
  nav.header__nav
    ul.header__nav-list
      if userState === `logged-in`
        li.header__list-item
          p #{userName}
        li.header__list-item
          a.header__exit(href='/logout') Выйти
      else
        li.header__list-item
          a.header__registration(href='/register') Регистрация
        li.header__list-item
          a.header__enter(href='/login') Вход с паролем

  if userState === `logged-in`
    a.header__avatar.avatar
      img(src=userAvatar alt='аватар пользователя')
